.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  .snowflake {
    position: absolute;
    background-color: #f38989;
    border-radius: 50%;
    opacity: 0.7;
    pointer-events: none;
    animation: falling 4s linear infinite, drift 4s linear infinite;
  }
  
  @keyframes falling {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  
  @keyframes drift {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50px);
    }
    100% {
      transform: translateX(0);
    }
  }