

body {
 
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes Navbar {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.menutoggleBtn{
  animation: Navbar 5s;
}
